@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Cal Sans", sans-serif;
  overflow-x: hidden;
}

.font {
  font-family: "Cal Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glassmorphism {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.41);
}

.container {
  @apply w-[calc(100%-2rem)] mx-auto md:w-[80%] md:px-0 px-4
}

/* Smooth scrolling for anchor links */
html {
  scroll-padding-top: 80px;
}